@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* padding-right: 10px;
  padding-left: 10px; */
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles.css */
.home-background-image {
  background-image: url("/home-banner.png");
}

.start-solution-background-image {
  background-image: url("/start-solutions-wall.png");
}

.market-solution-background-image {
  background-image: url("/market-Solutons.png");
}

.manage-solution-background-image {
  background-image: url("/manage-Solutons.png");
}

.about-background-image {
  background-image: url("/about-wall.png");
}

.value-ad-ons-background-image {
  background-image: url("/value-ad-ons.png");
}
